<div class="container">
    <div class="row">
        <h3>Update Retro:</h3>
        <form action="/{{user.username}}/{{retro._id}}?_method=PUT" method="POST" class="col s12 m12 l12">
            <div class="input-field col s12 m12 l12">
                <label>Title:</label>
                <input type="text" name="title" value="{{retro.title}}">
            </div>
            <div class="input-field col s12 m12 l12">
                <label>Description:</label>
                <textarea name="description" placeholder="Description" class="materialize-textarea">{{retro.description}}</textarea>
            </div>

            <div class="input-field col s12 m12 l6">
                <label>What Went Right:</label>
                <textarea name="positiveNotes" placeholder="Positive Notes" class="materialize-textarea">{{retro.positiveNotes}}</textarea>
            </div>

            <div class="input-field col s12 m12 l6">
                <label>What Went Wrong:</label>
                <textarea name="negativeNotes" placeholder="Negative Notes" class="materialize-textarea">{{retro.negativeNotes}}</textarea>
            </div>
            <div class="input-field col s12 m12 l12">
                <label>Participents:</label>
                <input type="text" name="participants" value="{{retro.participants}}">
            </div>
                <p>
                <input class="filled-in" type="checkbox" id="completed" name="completed" value="true" />
                <label for="completed">Complete</label>
                </p>
            <div class="input-field col s12 m12 l12">
                <input type="submit" value="Update Retro">
            </div>
        </form>
    </div>
    <a href="/{{user.username}}">Return to Retros</a>
</div>