<nav>
    <div class="nav-wrapper">
      <a href="/{{user.username}}" class="brand-logo"><img class="logo" src="/images/logo.svg"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/{{user.username}}/{{retro._id}}">{{retro.title}}</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/{{user.username}}/{{retro._id}}">{{retro.title}}</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>

<main>
<div class="container">
    <div class="row">
        <h3>Update Retro:</h3>
        <form action="/{{user.username}}/{{retro._id}}?_method=PUT" method="POST" class="col s12 m12 l12">
            <div class="input-field col s12 m12 l12">
                <label>Title:</label>
                <input type="text" name="title" value="{{retro.title}}">
            </div>
            <div class="input-field col s12 m12 l12">
                <label>Description:</label>
                <textarea name="description" placeholder="Description" class="materialize-textarea">{{retro.description}}</textarea>
            </div>

            <div class="input-field col s12 m12 l6">
                <label>What Went Right:</label>
                <textarea name="positiveNotes" placeholder="Positive Notes" class="materialize-textarea">{{retro.positiveNotes}}</textarea>
            </div>

            <div class="input-field col s12 m12 l6">
                <label>What Went Wrong:</label>
                <textarea name="negativeNotes" placeholder="Negative Notes" class="materialize-textarea">{{retro.negativeNotes}}</textarea>
            </div>
            <div class="input-field col s12 m12 l12">
                <label>Participents:</label>
                <input type="text" name="participants" value="{{retro.participants}}">
            </div>
            <div class="col s12 m12 l12">
                <input class="filled-in" type="checkbox" id="completed" name="completed" value="true" />
                <label for="completed">Complete</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input type="submit" value="Update Retro">
            </div>
        </form>
    </div>
</div>
</main>