<!-- //==================================//
                      Nav
    //==================================// -->
<nav>
    <div class="nav-wrapper blue">
        <a href="/{{user.username}}" class="brand-logo centered"><img class="logo" src="/images/logo.png"></a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- //==================================//
                      Main
    //==================================// -->

<main class="light-blue lighten-5">

    <!-- user header banner -->
    <div class="user-header">
        <div class="user-shadow">
            <div class="user-title">
                <div class="header">
                    <h4>{{user.name}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row flex-m">
            <div class="col s12 m12 l6 retros">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                        <div class="retro_header">
                    <h4>Retros:</h4>
                    <!-- Create Link for Retro with tooltip -->
                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create Retro" href="/{{user.username}}/new">
                        <i class="small material-icons">add_box</i>
                </a>
                        </div></span>
                        <!-- displays non completed retros first -->
                        {{#each user.retros}} {{#unless this.completed}}
                        <div class="retro">
                            <!-- Link to Retro -->
                            <h4><a href="/{{../user.username}}/{{this._id}}">{{this.title}}</a></h4>
                            <!-- Retro Description -->
                            <p>{{this.description}}</p>
                            <!-- Create Link for Action items with tooltip -->
                            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create Action item" href="/{{../user.username}}/{{this._id}}/item/new">
                        <i class="small material-icons">add_box</i>
                </a>
                            <!-- Edit Link for Retro with tooltip -->
                            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Retro" href="/{{../user.username}}/{{this._id}}/edit"
                                alt="Edit Retro">
                        <i class="small material-icons">edit</i>
                </a>

                            <!-- Delete Link for Retro with tooltip: Will iniate a Modal -->
                            <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Retro" href="#modal{{this._id}}">
                        <i class="small material-icons">delete_forever</i>
                </a>

                            <!-- Modal Structure -->
                            <div id="modal{{this._id}}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Retro</h4>
                                    <p>Are you sure you want to Delete</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/{{../user.username}}/{{this._id}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat" alt="Delete Retro">Agree</a>
                                </div>
                            </div>
                        </div>
                        {{/unless}} {{/each}}

                        <!-- after non completed retros then completed retros will be listed -->
                        {{#each user.retros}} {{#if this.completed}}
                        <div class="completretros">
                            <h4>Completed Retros</h4>
                            <!-- Link to retro -->
                            <h4><a href="/{{../user.username}}/{{this._id}}">{{this.title}}</a></h4>

                            <!-- Retro Description -->
                            <p>{{this.description}}</p>
                            <!-- Edit Link for Retro with tooltip -->
                            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Retro" href="/{{../user.username}}/{{this._id}}/edit"
                                href="/{{../user.username}}/{{this._id}}/edit"><i class="small material-icons">edit</i></a>

                            <!-- Delete Link for Retro with tooltip: Will iniate a Modal -->
                            <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Retro" href="#modal{{this._id}}">
                        <i class="small material-icons">delete_forever</i>
                </a>

                            <!-- Modal Structure -->
                            <div id="modal{{this._id}}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Retro</h4>
                                    <p>Are you sure you want to Delete</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/{{../user.username}}/{{this._id}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat" alt="Delete Retro">Agree</a>
                                </div>
                            </div>





                        </div>
                        {{/if}} {{/each}}
                    </div>
                </div>
            </div>
            <!-- row spacer for retros and items -->
            <div class="col s0 m0 l1"> </div>

            <!-- Action items for user -->
            <div class="col s12 m12 l5 items">
                <div class="card">
                    <div class="card-content">
                        <h4>Action Items:</h4>

                        <!--only non completed retros are listed -->
                        {{#each user.retros}} {{#unless this.completed}}
                        <div class="retro_header">
                            <!-- Link to retro items index -->
                            <h5><a href="/{{../user.username}}/{{this._id}}/item">{{this.title}} Items</a></h5>

                            <!-- Create Link for Action items with tooltip -->
                            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create Action Item" href="/{{../userName}}/{{this._id}}/item/new">
                        <i class="small material-icons">add_box</i>
            </a>
                        </div>

                        <!-- Action Item Details built in a collapsible accordion styl list -->
                        <ul class="collapsible" data-collapsible="accordion">
                            <!-- non completed items listed first -->
                            {{#each this.retroItems}} {{#unless this.completed}}
                            <li>
                                <div class="collapsible-header">

                                    <!-- Edit Link for Action items with tooltip -->
                                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit item" href="/{{../../userName}}/{{../this._id}}/item/{{this._id}}/edit"><i class="tiny material-icons">edit</i></a>

                                    <!-- Delete Link for Action items with tooltip: Intiates a Modal -->
                                    <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete item" href="#modal{{this._id}}">
                            <i class="tiny material-icons">delete_forever</i>
                    </a>

                                    <!-- Delete Modal -->
                                    <div id="modal{{this._id}}" class="modal">
                                        <div class="modal-content">
                                            <h5>Delete Action Item</h5>
                                            <p>Are you sure you want to Delete</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/{{../../userName}}/{{../this._id}}/item/{{this._id}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat"
                                                alt="Delete Retro">Agree</a>
                                        </div>
                                    </div>

                                    <!-- Link to item index page, uses item id as an anchor incase there are a number of items -->
                                    <a href="/{{../../userName}}/{{../this._id}}/item#{{this._id}}">{{this.title}}</a>
                                    <!-- Badge for priority utilizes value create a class which will color it -->
                                    <span class="badge {{this.priority}}">{{this.priority}}</span>
                                </div>
                                <div class="collapsible-body"><span>Responsible: {{this.responsible}}<br>Due Date: <span class='duedate'>{{this.dueDate}}</span></span>
                                </div>
                            </li>
                            {{/unless}} {{/each}}

                            <!-- completed items listed next -->
                            {{#each this.retroItems}} {{#if this.completed}}
                            <li>
                                <div class="collapsible-header">

                                    <!-- Edit Link for Action items with tooltip -->
                                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit item" href="/{{../../userName}}/{{../this._id}}/item/{{this._id}}/edit"><i class="tiny material-icons">edit</i></a>

                                    <!-- Delete Link for Action items with tooltip: Intiates a Modal -->
                                    <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete item" href="#modal{{this._id}}">
                            <i class="tiny material-icons">delete_forever</i>
                    </a>

                                    <!-- Delete Modal -->
                                    <div id="modal{{this._id}}" class="modal">
                                        <div class="modal-content">
                                            <h5>Delete Action Item</h5>
                                            <p>Are you sure you want to Delete</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/{{../../userName}}/{{../this._id}}/item/{{this._id}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat"
                                                alt="Delete Retro">Agree</a>
                                        </div>
                                    </div>

                                    <!-- Link to item index page, uses item id as an anchor incase there are a number of items -->
                                    <a href="/{{../../userName}}/{{../this._id}}/item#{{this._id}}">{{this.title}}</a>

                                    <!-- Item Complete Checkbox with tooltip -->
                                    <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Item Complete">
            <i class="tiny material-icons">check_box</i></a>

                                    <!-- Badge for priority utilizes value create a class which will color it -->
                                    <span class="badge {{this.priority}}">{{this.priority}}</span>
                                </div>
                                <div class="collapsible-body"><span>
                            <strong>COMPLETED</strong><br>
                            Responsible: {{this.responsible}}<br>Due Date: <span class='duedate'>{{this.dueDate}}</span>
                                    </span>
                                </div>
                            </li>
                            {{/if}} {{/each}}

                        </ul>
                        {{/unless}} {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>