<nav>
  <div class="nav-wrapper blue">
    <a href="/{{user.username}}" class="brand-logo"><img class="logo" src="/images/logo.svg"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/{{user.username}}">Home</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/{{user.username}}">Home</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>

<!-- Main Section -->
<main class="light-blue lighten-5">

<div class="user-header">
        <div class="user-shadow">
            <div class="user-title">
                <div class="header">
                    <h4>{{user.name}}</h4>
                </div>
            </div>
        </div>
    </div>

<div class="container">
  <div class="header">
  <h4>{{retro.title}}</h4>
  
  <div class="pad-left">
  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Retro" href="/{{user.username}}/{{retro._id}}/edit"><i class="small material-icons">edit</i></a>
  <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Retro" href="#modal{{this._id}}"><i class="small material-icons">delete_forever</i>
  </a>
  </div>
</div>
  <!-- Modal Structure -->
  <div id="modal{{this._id}}" class="modal">
    <div class="modal-content">
      <h4>Delete Retro</h4>
      <p>Are you sure you want to Delete</p>
    </div>
    <div class="modal-footer">
      <a href="/{{user.username}}/{{retro._id}}/delete" class="modal-action modal-close waves-effect waves-green btn-flat" alt="Delete Retro">Agree</a>
    </div>
  </div>
  <div class="row flex-m">
    <div class="col s12 m12 l7 retros">
      <div class="card">
        <div class="card-content">
      {{#if retro.completed}}
  <h4>Retro Complete</h4>
  {{/if}}
      <h5>Description:</h5>
      <p>{{retro.description}}</p>
      <div>
        <p><strong>Meeting Date:</strong><span class='duedate'>{{retro.meetingDate}}</span></p>
        <p><strong>Participants:</strong><span> {{retro.participants}}</span></p>
      </div>
      <h5>The Good and The Bad</h5>
      <div class="flexed">
        <div class="equal">
          <h6>What went well:</h6>
          <p>{{retro.positiveNotes}}</p>
        </div>
        <div class="equal">
          <h6>What went wrong:</h6>
          <p>{{retro.negativeNotes}}</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col s0 m0 l1"> </div>
    <div class="col s12 m12 l4 items">
      <div class="card">
        <div class="card-content">
      <div class="retro_header">
      <h4><a href="/{{user.username}}/{{retro._id}}/item">Action Items:</a></h4>
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create Action Item"href="/{{user.username}}/{{retro._id}}/item/retroitem/new"><i class="small material-icons">add_box</i></a>
      </div>
      <ul class="collapsible" data-collapsible="accordion">
        {{#each retro.retroItems}}
        {{#unless this.completed}}
        <li>
          <div class="collapsible-header"> 
            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit item" href="/{{../user.username}}/{{../retro._id}}/item/{{this._id}}/retroitem/edit"><i class="tiny material-icons">edit</i></a>
            <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete item" href="#modal{{this._id}}"><i class="tiny material-icons">delete_forever</i></a>

            <div id="modal{{this._id}}" class="modal">
              <div class="modal-content">
                <h5>Delete Action Item</h5>
                <p>Are you sure you want to Delete</p>
              </div>
              <div class="modal-footer">
                <a href="/{{../user.username}}/{{../retro._id}}/item/{{this._id}}/retro/delete" class="modal-action modal-close waves-effect waves-green btn-flat"
                  alt="Delete Retro">Agree</a>
              </div>
            </div>
            <a href="/{{../user.username}}/{{../retro._id}}/item#{{this._id}}">
            {{this.title}}</a>
            <span class="badge {{this.priority}}">{{this.priority}}</span>
          </div>
          <div class="collapsible-body">
            <span>Responsible: {{this.responsible}}<br>Due Date: <span class='duedate'>{{this.dueDate}}</span></span>
          </div>
        </li>
        {{/unless}}
        {{/each}}

        {{#each retro.retroItems}}
        {{#if this.completed}}
        <li>
          <div class="collapsible-header">
            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit item" href="/{{../user.username}}/{{../retro._id}}/item/{{this._id}}/retroitem/edit"><i class="tiny material-icons">edit</i></a>
            <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete item" href="#modal{{this._id}}"><i class="tiny material-icons">delete_forever</i></a>

            <div id="modal{{this._id}}" class="modal">
              <div class="modal-content">
                <h5>Delete Action Item</h5>
                <p>Are you sure you want to Delete</p>
              </div>
              <div class="modal-footer">
                <a href="/{{../user.username}}/{{../retro._id}}/item/{{this._id}}/retro/delete" class="modal-action modal-close waves-effect waves-green btn-flat"
                  alt="Delete Retro">Agree</a>
              </div>
            </div>
            <a href="/{{../user.username}}/{{../retro._id}}/item#{{this._id}}">
            {{this.title}}</a>
            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Item Complete">
            <i class="tiny material-icons">check_box</i></a>
            <span class="badge {{this.priority}}">{{this.priority}}</span>
          </div>
          <div class="collapsible-body">
            <strong>COMPLETED</strong><br>
            <span>Responsible: {{this.responsible}}<br>Due Date: <span class='duedate'>{{this.dueDate}}</span></span>
          </div>
        </li>
        {{/if}}
        {{/each}}

      </ul>
    </div>
  </div>
</div>
</div>
</div>
</main>