<nav>
    <div class="nav-wrapper">
      <a href="/{{user.username}}" class="brand-logo">Retro'd {{user.name}}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>


<h2>{{retro.title}}</h2>
{{#if retro.completed}}
<h2>Retro Complete</h2>
{{/if}}
<a href="/{{user.username}}/{{retro._id}}/edit">Edit Retro</a>
<a href="/{{user.username}}/{{retro._id}}/delete">Delete Retro</a>
<h3>Description:</h3>
<p>{{retro.description}}</p>
<h3>The Good and The Bad</h3>
<h4>The Good:</h4>
<p>{{retro.positiveNotes}}</p>

<h4>The Bad:</h4>
<p>{{retro.negativeNotes}}</p>

<div>
    <p><strong>Meeting Date:</strong><span> {{meetDate}}</span></p>
    <p><strong>Participants:</strong><span> {{retro.participants}}</span></p>
</div>
<h4>Meeting Items:</h4>
<a href="/{{user.username}}/{{retro._id}}/new">Create Action Item</a>
<ul>
    {{#each retro.retroItems}}
        <li>
            <a href="/{{../user.username}}/{{../retro._id}}/{{this._id}}">
            <span>{{this.title}}</span></a>
            <a href="/{{../user.username}}/{{../retro._id}}/{{this._id}}/retroitem/edit">Edit</a>
            <a href="/{{../user.username}}/{{../retro._id}}/{{this._id}}/delete">Delete</a>
            </li>
    {{/each}}
</ul>