<nav>
    <div class="nav-wrapper">
      <a href="/{{user.username}}" class="brand-logo">Retro'd {{user.name}}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/{{user.username}}/{{retro._id}}">{{retro.title}}</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/{{user.username}}">Retros</a></li>
        <li><a href="/{{user.username}}/{{retro._id}}">{{retro.title}}</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<div class="row">
<h3>Create Action item:</h3>
<form action="/{{userName}}/{{retroId}}/create" method="POST" class="col s12 m9">
<div class="input-field col s12 m12 l9">
<input type="text" name="title">
<label>Title:</label>
</div>

<div class="input-field col s12 m12 l9">
<textarea rows="8" cols="60" name="description" placeholder="Description" class="materialize-textarea">
</textarea>
</div>

<div class="input-field col s12 m12 l9">
<select name="priority">
  <option value="Lowest">Lowest</option>
  <option value="Low">Low</option>
  <option value="Normal">Normal</option>
  <option value="High">High</option>
  <option value="Highest">Highest</option>
</select>
<label>Priority:</label>
</div>
<br>
<div class="input-field col s12 m12 l9">
<input type="date" name="dueDate" class="datepicker">
<label>Due Date:</label>
</div>

<div class="input-field col s12 m12 l9">
<input type="text" name="responsible">
<label>Responsible:</label>
</div>

<div class="input-field col s12 m12 l9">
<select name="progress">
<option value="ToDo"> To Do</option>
<option value="InProgress"> In Progress</option>
<option value="InReview"> In Review</option>
<option value="Done"> Done</option>
<label>Progress:</label>
</select>
<input type="submit" value="Create Item">
</div>
</form>
</div>
</div>