<h2>Action Item: {{item.title}}</h2>
<h4>Retro: {{retro.title}}</h4>
<a href="/{{user.username}}/{{retro._id}}/{{item._id}}/edit">Edit Action Item</a>
<a href="/{{user.username}}/{{retro._id}}/{{item._id}}/delete">Delete Action Item</a>
<a href="/{{user.username}}/{{retro._id}}">Return to Retro</a>
<h5>Description: </h5>
<p>{{item.description}}</p>

<ul>
    <li>Prioirty: {{item.priority}}</li>
    <li>Due Date: {{due}}</li>
    <li>Responsible: {{item.responsible}}</li>
    <li>Progress: {{item.progress}}</li>
</ul>