<h2>Action Item: {{item.title}}</h2>
<h4>Retro: {{retro.title}}</h4>

<h5>Description: </h5>
<p>{{item.description}}</p>

<ul>
    <li>Type: {{item.type}}</li>
    <li>Prioirty: {{item.priority}}</li>
    <li>Due Date: {{item.dueDate}}</li>
    <li>Responsible: {{item.responsible}}</li>
    <li>Progress: {{item.progress}}</li>
</ul>