<div class="container">
<div class="row">
<h3>Update Action item:</h3>
<form action="/{{user.username}}/{{retro._id}}/{{item._id}}/user/update?_method=PUT" method="POST" class="col s12 m9">
<div class="input-field col s12 m12 l9">
<input type="text" name="title" value="{{item.title}}">
<label>Title:</label>
</div>

<div class="input-field col s12 m12 l9">
<textarea rows="8" cols="60" name="description" placeholder="Description">
{{item.description}}
</textarea>
</div>

<div class="input-field col s12 m12 l9">
<select name="priority">
  <option value="Lowest">Lowest</option>
  <option value="Low">Low</option>
  <option value="Normal" selected>Normal</option>
  <option value="High">High</option>
  <option value="Highest">Highest</option>
</select>
<label>Priority:</label>
</div>
<br>
<div class="input-field col s12 m12 l9">
<input type="date" name="dueDate" value="{{due}}" class="datepicker">
<label>Due Date:</label>
</div>

<div class="input-field col s12 m12 l9">
<input type="text" name="responsible" value="{{item.responsible}}">
<label>Responsible:</label>
</div>

<div class="input-field col s12 m12 l9">
<select name="progress">
<option value="ToDo" selected> To Do</option>
<option value="InProgress"> In Progress</option>
<option value="InReview"> In Review</option>
<option value="Done"> Done</option>
<label>Progress:</label>
</select>
<input type="submit" value="Update Item">
</div>
</form>
</div>
<a href="/{{user.username}}/{{retro._id}}/{{item._id}}">Return to Item</a>
</div>